certifi==2020.12.5
chardet==4.0.0
ecdsa==0.14.1
fastapi==0.63.0
fastapi-auth0==0.1.6
idna==2.10
pyasn1==0.4.8
pydantic==1.8.1
python-jose==3.2.0
requests==2.25.1
rsa==4.7.2
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.4
